<h2>List Tasks</h2>
<div class="task_page">

  <ng-template #createTask>

    <div class="modal-header d-flex justify-content-between">
      <!-- Modal Title  -->
      <h4 class="modal-title pull-left">Task</h4>
      <!-- Close Button  -->
      <button type="button" class="btn btn-secondary" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal Body -->
    <form class="container p-5" [formGroup]="createTaskForm" (ngSubmit)="$event.preventDefault(); sendCreateTaskForm()">

      <div class="mb-3">
        <label class="form-label">Title of the task</label>
        <input type="text" class="form-control" formControlName="title" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Description of the task</label>
        <input type="text" class="form-control" formControlName="description">
      </div>

      <div *ngIf="errorMessage" class="mb-2 alert alert-danger" [innerHtml]="errorMessage"></div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create task</button>
      </div>

    </form>

  </ng-template>

  <ng-template #editTask>
    <div class="modal-header d-flex justify-content-between">
      <!-- Modal Title  -->
      <h4 class="modal-title pull-left">Edit Task</h4>
      <!-- Close Button  -->
      <button type="button" class="btn btn-secondary" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Modal Body -->
    <form class="container p-5" [formGroup]="editTaskForm" (ngSubmit)="$event.preventDefault(); sendEditTaskForm()">

      <input type="hidden" class="form-control" formControlName="id">

      <div class="mb-3">
        <label class="form-label">Title of the task</label>
        <input type="text" class="form-control" formControlName="title">
      </div>

      <div class="mb-3">
        <label class="form-label">Description of the task</label>
        <input type="text" class="form-control" formControlName="description">
      </div>

      <div *ngIf="errorMessage" class="mb-2 alert alert-danger" [innerHtml]="errorMessage"></div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Edit task</button>
      </div>

    </form>
  </ng-template>

  <ng-template #taskInfo>
    <div class="modal-header d-flex justify-content-between">
      <!-- Modal Title  -->
      <h4 class="modal-title pull-left">Task info</h4>
      <!-- Close Button  -->
      <button type="button" class="btn btn-secondary" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Modal Body -->
    <div class="container p-5">

      <div class="mb-3">
        <h4>Title of the task</h4>
        <p>{{ selectedTask?.title }}</p>
      </div>

      <div class="mb-3">
        <h4>Description of the task</h4>
        <p>{{ selectedTask?.description }}</p>
      </div>

      <div class="mb-3">
        <h4>Date of creation</h4>
        <p>{{ selectedTask?.createdAt | date: 'dd-MM-yyyy HH:mm' }}</p>
      </div>

      <div class="mb-3">
        <h4>Completion date</h4>
        <p>{{ selectedTask?.finishedAt ? (selectedTask?.finishedAt | date: 'dd-MM-yyyy HH:mm') : 'This task hasn\'t finished yet' }}</p>
      </div>

    </div>
  </ng-template>

  <div cdkDropList
       [cdkDropListData]="(notStartedTasks$ | async) || []"
       [cdkDropListConnectedTo]="['inProgress', 'finished']"
       (cdkDropListDropped)="onDrop($event, TaskState.NOT_STARTED)"
       class="task_column not_started"
       id="notStarted">
    <h2>Not started</h2>
    <div class="tasks" *ngFor="let task of notStartedTasks$ | async" cdkDrag>
      <div class="task_header">
        <h3>{{ task.title }}</h3>

        <div class="dropdown task-menu">
          <button class="btn btn-link icon-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" (click)="openModalEditTask(editTask, task)">Edit task</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="openModalInfoTask(taskInfo, task)">Task info</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-danger" (click)="openModalInfoTask(taskInfo, task)">Delete</a>
            </li>
          </ul>
        </div>

      </div>

      <h5 class="sing_bottom">{{ task.description }}</h5>
      </div>
    <div class="task_create">
      <button class="add-button" (click)="openModal(createTask)">+</button>
      <h3 class="sign_create">Create task</h3>
    </div>
  </div>

  <div cdkDropList
       [cdkDropListData]="(inProgressTasks$ | async) || []"
       [cdkDropListConnectedTo]="['notStarted', 'finished']"
       (cdkDropListDropped)="onDrop($event, TaskState.IN_PROGRESS)"
       class="task_column in_progress"
       id="inProgress">
    <h2>In progress</h2>
    <div class="tasks" *ngFor="let task of inProgressTasks$ | async" cdkDrag>
      <div class="task_header">

        <label class="checkbox-container">
          <input type="checkbox" (change)="deleteTask(task.id)">
          <span class="custom-checkbox"></span>
        </label>

        <div class="task_header_body">
          <h3>{{ task.title }}</h3>
          <div class="dropdown task-menu">
            <button class="btn btn-link icon-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" (click)="openModalEditTask(editTask, task)">Edit task</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="openModalInfoTask(taskInfo, task)">Task info</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item text-danger" (click)="openModalInfoTask(taskInfo, task)">Delete</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <h5 class="sing_bottom">{{ task.description }}</h5>
      </div>
  </div>

  <div cdkDropList
       [cdkDropListData]="(finishedTasks$ | async) || []"
       [cdkDropListConnectedTo]="['notStarted', 'inProgress']"
       (cdkDropListDropped)="onDrop($event, TaskState.FINISHED)"
       class="task_column finished"
       id="finished">
    <h2>Finished</h2>
    <div class="tasks_finished" *ngFor="let task of finishedTasks$ | async" cdkDrag>
      <div class="task_header">
        <h3>{{ task.title }}</h3>

        <div class="dropdown task-menu">
          <button class="btn btn-link icon-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" (click)="openModalEditTask(editTask, task)">Edit task</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="openModalInfoTask(taskInfo, task)">Task info</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-danger" (click)="openModalInfoTask(taskInfo, task)">Delete</a>
            </li>
          </ul>
        </div>

      </div>
      <h5 class="sing_bottom">{{ task.description }}</h5>
    </div>
  </div>
</div>
