<div class="container header">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <div class="col-md-4 mb-2 mb-md-0">
      <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="https://cdn-icons-png.flaticon.com/512/19003/19003065.png" height="80px" alt="tip">
        <h1 class="sign">Task Tracker</h1>
      </a>
    </div>

    <div *ngIf="!isLogged">
      <div>
        <a routerLink="login">Login</a>
      </div>
      <div>
        <a routerLink="register">Register</a>
      </div>
    </div>

    <div *ngIf="isLogged">
      <div>
        <a href="#" (click)="$event.preventDefault(); logout()">Logout</a>
      </div>
    </div>

  </div>
</div>
