<div class="container header">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h1>Hello people</h1>
    <h1>It's Timur's Project</h1>

    <div *ngIf="!isLogged">
      <div>
        <a routerLink="">Login</a>
      </div>
      <div>
        <a routerLink="second">Register</a>
      </div>
    </div>

    <div *ngIf="isLogged">
      <div>
        <a href="#" (click)="$event.preventDefault(); logout()">Logout</a>
      </div>
      <div>
        <a href="#" (click)="$event.preventDefault(); goToContact()">Contact Us</a>
      </div>
      <div>
        <a routerLink="/products">Products</a>
      </div>
    </div>

  </div>
</div>
